<!-- This is base template to create all our to do list  -->

   <%- include("header") -%>
  
    <div class="box" id = "heading">
        <h1><%=listTitle %> </h1>
    </div>
    
     <div class="box">
            <%for(var i=0;i<newListItems.length;i++){   %>                                        <!--new list item added to do list --></newListItems.length>
                <div class = "item">
                    <input type="checkbox">
                    <p><%=newListItems[i]%></p>
                </div>
                
            <%} %>       
           
            <form class = "item" action="/" method = "POST">
                <input type="text" name="newItem" placeholder="New Item" autocomplete="off">              <!--autocomplete off to stop autocomplete feature and also stop getting suggestions basis of previous items-->
                <button type="submit" name ="list" value = "<%=listTitle%>">+</button>                     <!--button press will decide which list to add the new item.(work list or normal item list-->
            
            </form>
        
            
                                      
     </div>

   
    <%- include("footer") -%>
    


